$red: rgb(188,59,53);
$yellow: rgb(253,229,5);
$charcoal: rgb(34,35,39);
$white: FFFFFF;


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


@media screen and (min-width : 500px) {






/*body { margin: 0; }*/ 
section.slider { overflow: none; }
section.slider figure img { width: 20%; float: left;}
section.slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

body {
	display: flex;
	flex-direction: column;
	
}
h1, h2, h3, h4 {
	font-family: 'yanone_kaffeesatzregular';
}
a {
	color: #000;
}
a:hover {
	color: $red;
}

header {
	display: flex;
	flex-direction: column;
	
	background-color: $red;
	
	div.menu-icon  {
		display: none;
	}

	#logo {
		display: flex;
		justify-content: space-around;
		min-width: 3em;
		margin: 0;
	}
	h4 {
		display: flex;
		justify-content: space-around;
		margin-top: 0;
		margin-bottom: .25em;
		font-size: 2em;
	}
}


nav {
	display: flex;
	flex-direction: column;
	background-color: $charcoal;
	color: $white;
	border-top: solid $white .25em;
	border-bottom: solid $white .25em;

	ul {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0;
		margin-top: 0;
	}

	li {
		display: flex;
		list-style: none;
		

	}
	a {
		text-decoration: none;
		color: $white;
		padding:.5em; 
		padding-left: 2em;
		padding-right: 2em;
		font-size: 1.5em;
	}

	#current {
		color: $yellow;
	}
}
.fixed {
    position:fixed;
    top:0;
    width: 100%;
    z-index: 15;
    background-image: url(../img/small-logo.png);
    background-repeat: no-repeat;

}

div#red-line {
	width: 100%;
	height: 1em;
	background-color: $red;
}
section.slider {
	width: 100%;
	max-height: 50em;
	background-image: url(../img/slider-img3.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
section.main-content {
	
	

	div.background-layer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
			
		background-color: $charcoal;
		padding: 1em;
	}

	article.box {
		display: flex;
		flex-direction:column;
		flex-grow:1;

		background-color: $white;

		
		h1 {
			display: flex;
			justify-content: center;
			background-color: $red;
			margin-top: 0;
			margin-bottom: 0;
			font-family: 'yanone_kaffeesatzregular';
		}
		p {
			display: flex;
			justify-content:center;
			padding: 1em;
		}


	}
/*	div.contact {
				
				display: flex;
				flex-direction: column;
				flex-grow:4;
				background-color: $white;

				h1 {

					background-color: $red;
					margin-bottom: 0;
					margin-top: 0;
					text-align: center;
				}
				p {
					text-align: center;
					
				}
			}*/


	article.icons {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		min-width: 20em;

		div.facebook {
			display: flex;
			flex-direction: row;
			
			h4 {
				background-color: $white;
				padding: .5em;
				min-width: 8em;
				text-align: center;
				font-family: 'yanone_kaffeesatzregular';
				font-size: 1.5em;
			}
		}
		div.map-icon {
			display: flex;
			flex-direction: row;
			
			h4 {
				background-color: $white;
				padding: .5em;
				min-width: 8em;
				text-align: center;
				font-family: 'yanone_kaffeesatzregular';
				font-size: 1.5em;
			}
		}
		img {
			min-width: 5em;
			height: 5em;
			margin: 1em;
		}
	}
}
section.bottom-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	/*height: 20em;*/
	background-color: whitesmoke;
	padding: 2em;

	a {
		text-decoration: none;
		color: #000;
	}
	a:hover {
		color: $red;
	}
	h4 {
		text-align: center;
	}
}



footer {
	display: flex;
	justify-content: center;
	background-color: $red;
	width: 100%;
	height: 5em;

	img {
		width: 50%;
	}
}

		#wrapper {
				min-width: 30em;
				max-width: 65em;
				img.lightbox_trig {
					/*background-color: rgba(0,0,0,0.7);*/
					width: 10em;
					height: 10em;
				}
				
		}



/*  GOOGLE MAPS  */

	div#directions {
		flex-direction: column;
		width: 25%;

		#autocomplete {
			width: 100%;
			height: 2em;
		}

        #directionsPanel {
        	width: 100%; 
        	border: 1px 
        	solid #888; 
        	background-color: $white;
        	z-index: 3;
        }

	}

        #map { 
        	display: flex;
        	/*flex-grow: 4;*/
        	justify-content:flex-end;
        	min-height: 30em; 
        	width: 70%;  
        	border: 1px solid #888; 
        	margin-right: 1em;
        	margin-left: 1em;
        }

	






.hide  {
	display: none;
	

}

/* MODAL */

.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);


}
#modal{
	#modal-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		#display{
			img {
				width: 31.250em;
				height: 31.250em;
				overflow: hidden;
			}
		}
	}
}

button#next {
	display: flex;
	width: 5em;
	height: 5em;
	color: $yellow;
	text-align: center;
	background-color: $red;
}

button#previous {
	width: 5em;
	height: 5em;
	color: $yellow;
	text-align: center;
	background-color: $red;
	
}
div#close-button {
	display: flex;
	justify-content: flex-end;

}
button#close {
	text-align: center;
	width: 5em;
	height: 2em;
	color: $yellow;
	background-color: $red;
}
#bottom-modal {
	height: 5em;
}

/* GOOGLE MAP */
#autocomplete {
	height: 2em;
}
}